name: Test PowerShell with Pester
on: push

jobs:
  pester-test:
    name: Pester test
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository code
      uses: actions/checkout@v2
    - name: Perform a Pester test from the command-line
      shell: pwsh
      run: Get-help
    - name: Perform a Pester test from the Tests.ps1 file
      shell: pwsh
      run: |
        Start-Process ./CA003.ps1
