on: [push]

name: AzurePowerShellSample

jobs:

  build-and-deploy:
    runs-on: ubuntu-latest
    steps:

    - name: Login via Az module
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}}
        enable-AzPSSession: false

    - name: Run Azure PowerShell script
      uses: azure/powershell@v1
      with:
        azPSVersion: 4.7.0
        inlineScript: |
          Get-AzureADMSConditionalAccessPolicy
